Files 
test.py
.idea/workspace.xml
__pycache__/consts.cpython-313.pyc
/Standardized_Files
/Labeled_Files
logger.txt
df1.csv
df2.csv
df3.csv
df4.csv
df5.csv
__pycache__/standardizer.cpython-313.pyc
.DS_Store
__pycache__/labeler.cpython-313.pyc
__pycache__/preprocessor.cpython-313.pyc
/.idea
